<% include ../partials/header.ejs %>
<div class="container undernav">


    <div class="row">
        <div class="col-md-3">
            <ul class="list-group ">
                <li class="list-group-item active">Detail</li>
                <li class="list-group-item">Destination</li>
                <li class="list-group-item">Contact us</li>
            </ul>
        </div>
        <div class="col-md-9">

            <div class="card">
                <img class="card-img-top" src="<%= restaurant.image %>">
                <div class="container">
                    <h2 class = "text-center"> <%= restaurant.name %></h2>
                    <p class="py-2"><%= restaurant.description %></p>
                </div>
            </div>

            <br>
            <div class="card">

                <div class="container py-2">
                    <a class="btn btn-sm btn-primary btn-outline-success float-right" href="/restaurant/<%= restaurant._id %>/comments/new">Add
                        new Comment</a>

                    <br>
                    <% restaurant.comments.forEach(function (comment) { %>
                    <div><strong><%= comment.author %></strong></div>
                    <div> <%= comment.text %></div>
                    <% }) %>
                </div>
            </div>
        </div>



    </div>
</div>
<% include ../partials/footer.ejs %>