<% include ../partials/header.ejs %>
<div class="container undernav">


    <div class="row">
        <div class="col-md-3">
            <ul class="list-group ">
                <li class="list-group-item active">Detail</li>
                <li class="list-group-item">Destination</li>
                <li class="list-group-item">Contact us</li>
            </ul>
        </div>
        <div class="col-md-9">

            <div class="card">
                <img class="card-img-top" src="<%= restaurant.image %>">
                <div class="container">
                    <h2 class="text-center"> <%= restaurant.name %></h2>
                    <p class="py-2"><%= restaurant.description %></p>
                    <p>
                        <em> Submitted by <%= restaurant.author.username %></em>
                    </p>
                    <!--check if currentUser is empty-->
                    <% if(currentUser && restaurant.author.id.equals(currentUser.id)){ %>
                    <a class="btn btn-warning my-2" href="/restaurant/<%= restaurant._id %>/edit"> Edit</a>
                    <form class="delete-form" action="/restaurant/<%= restaurant._id %>?_method=DELETE" method="post">
                        <input type="submit" class="btn btn-danger my-2 " value="Delete">
                    </form>
                    <% } %>

                </div>
            </div>

            <br>
            <div class="card">

                <div class="container py-2">
                    <a class="btn btn-sm btn-primary btn-outline-success float-right"
                       href="/restaurant/<%= restaurant._id %>/comments/new">Add
                        new Comment</a>

                    <br>
                    <!--// if the comments is empty, cannot use forEach&ndash;&gt;&ndash;&gt;-->
                    <% restaurant.comments.forEach(function (comment) { %>
                    <!--<div><strong><%= comment.author.username %></strong></div>-->
                    <p><em><%= restaurant.author.username %></em></p>
                    <p> <%= comment.text %></p>
                    <!--check if currentUser is empty-->
                    <% if(currentUser && restaurant.author.id.equals(currentUser.id)){ %>
                    <a class="btn btn-sm btn-warning"
                       href="/restaurant/<%= restaurant._id %>/comments/<%= comment._id %>/edit">Edit</a>
                    <form class="delete-form"
                          action="/restaurant/<%= restaurant._id %>/comments/<%= comment._id %>?_method=DELETE"
                          method="POST">
                        <input type="submit" class="btn btn-danger btn-sm my-2 " value="detele">
                    </form>
                    <% } %>
                    <% }) %>
                </div>
            </div>
        </div>


    </div>
</div>
<% include ../partials/footer.ejs %>